{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Heebo:regular,400,500,600,900" rel="stylesheet" />
   <title>Resume</title>
</head>
<body>
   <div class="wrapper">
<!--      <header class="header">-->
<!--         <div class="header__conteiner">-->
<!--            <div class="header__body">-->
<!--               <div class="header__item">-->
<!--                  <a class="header__link" href="#">Works</a>-->
<!--                  <a class="header__link" href="#">Blog</a>-->
<!--                  <a class="header__link" href="#">Contact</a>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </header>-->
      <main class="page">
         <div class="page__main intro">
            <div class="intro__conteiner _conteiner">
               <div class="intro__body">
                  <div class="intro__left-side">
                     <div class="intro__title">
                        <h1 class="intro__title">Привет, я Рахмидин,<br>
                        Python Web Developer</h1>
                     </div>
                     <div class="intro__subtitle">
                           Я начал изучать Python в 2021 году, за это время
                           успел также обучится другими инструментами для
                           Web разработки.Снизу вы можете скачать мое резюме
                           в котором будет список вешей которому я обучился
                        <div class="intro__button">
                           <a download="res.pdf" class="intro__button-link" href="../../static/resume-download/res.pdf"><span class="download_button">Download Resume</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="intro__right-side">
                     <img class='main__img' src="static/media/main_photo.jpg" alt="">
                  </div>
               </div>
            </div>
         </div>
         <div class="page__featured featured">
            <div class="featured__conteiner _conteiner">
               <div class="feature__body">
                  {% block content %}
                  <span class="featured__main-title">Мои проекты</span>
                  {% for project in object_list %}
                  <div class="featured__works-one">
                     <div class="featured__left-side"><img class="featued__img-one" src="{{ get_media_prefix }}{{ project.img }}" alt="work">
                     </div>
                     <div class="feature__right-side">
                        <div class="featured__title">{{ project.title }}</div>
                        <div class="featured__info">
                           <div class="featured__year">{{ project.date }}</div>
                           <div class="featured__type">{{ project.locate }}</div>
                        </div>
                        <div class="featured__text">
                           {{ project.descriptions }}
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endblock %}
               </div>
            </div>
         </div>

      </main>
      <footer class="footer">
         <div class="footer__conteiner _conteiner">
            GITHUB: https://github.com/rahmiddin <br><br>Telegram: https://t.me/Roninn1
            <div class="footer__copyright">Copyright ©2020 All rights reserved </div>
         </div>
      </footer>
   </div>
</body>
</html>
